.border {
  border: 2px solid #a1a1a1;
  border-radius: 15px;
  overflow: hidden;
}

.container {
  padding: 10px 20px;
}

.app-header {
  padding: 0 0;
  text-align: center;
  color: #000000;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  background-color: #a1a1a1;
}

.content {
  margin-top: 160px;
}